Require all granted

# Prevent directory listings
Options -Indexes

# Allow using "status" instead of "status.php":
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
